@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;800&family=Poppins&display=swap%27');

* {
    max-width: 99vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-family: Arial;
    color: white;
    background-size: cover;
    width: 99vw;
    height: 100vh;
    margin: 0vh;
    padding: 0;
    position: absolute;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #00e400;
    transition: 0.2s;
}

.paragrafo-verde{
    background-color: #00e400;
    width: 100%;
    height: 0.5%;
    position: absolute;
    margin-left: 0;
}
.mushsolution-logo{
    margin-top: 0.2%;
    width: 14%;
    margin-left: 6%;
    position: absolute;
}

.div-projetos{
    position: absolute;
    width: 99vh;
    margin-left: 35%;
    margin-top: 3%;

}
.menus{
    margin-left: 2%;
}
.conectar{
    color: #00e400;
    margin-left: 43vh;
    position: absolute;
}
.conectar:hover{
    color: white;
    transition: 0.2s;
}

.img-fundo{
    position: absolute;
    margin-top: 6.9%;
    background-repeat: repeat-y;
    width: 99vw;
    height: 100vh;
}
.div-fundo-conteudo{
    position: absolute;
    margin-top: 11%;
    background-color: rgba(000, 000, 000, 0.89);
    width: 100%;
    height: 80%;
    border-style: solid;
    border-color: #00e400;
    border-width: 0.5%;
    border-left: none;
    border-right: none;
    display: flex;
}
.div-fundo-conteudo-flutuante{
    position: absolute;
    margin-top: 12vw;
    margin-left: 63vh;
    background-color: rgba(000, 000, 000, 0.9);
    width: 40%;
    height: 80%;
    border-style: solid;
    border-color: #00e400;
    border-width: 0.5%;
    border-left: 0.5%;
    border-right: 0.5%;
    display: flex;
    border-radius: 15px;
    padding-bottom: 3%;
}

.b-verde{
    color: #00e400;
}

.botao-verde{
    position: absolute;
    background-color: #00e400;
    color: #ffffff;
    border: none;
    min-height: 7vh;
    max-height: 7vh;
    font-weight: bold;
    text-align: center;
    font-size: 95%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
}


.img-sobre{
    /*  position: absolute; */
      margin-top: 2vw;
      margin-bottom: 1vw;
      margin-left: 9vh;
      width: 39vw;
      height: 50vh;
      border-radius: 5px;
      border: #00e400 solid 3px;
}

.dashboard{
    margin-left: 30vw; 
    margin-top: 20vh;
    padding-top: 5vh; 
    width:80px;
    height: 80px;
    background-color: white;
    border: 2px solid #00e400;
    border-radius: 5px; 
}


/* Fale Conosco */

h3 {
    margin-top: 10px;
    color: #ffffff;
    align-items: center;
    
}

.container-contato{
    margin-left: 70px;
    margin-top: 50px;
}

.container-contato .btn-enviar{
    position: absolute;
    background-color: #00e400;
    color: #ffffff;
    border: none;
    min-height: 7vh;
    max-height: 7vh;
    font-weight: bold;
    text-align: center;
    font-size: 95%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
}

.container-contato input{
    border-radius: 5px;
    justify-self: center;
    font-size: medium;
    background-color: #ffffff00;
    color: #00e400;
    font-weight: bold;
    width: 300px;
    height: 30px;
}