@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;800&family=Poppins&display=swap%27');
  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
} 

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-family: Arial;
    color: white;
    background-size: cover;
    width: 99vw;
    height: 100vh;
    margin: 0vh;
    padding: 0;
    position: absolute;
}

.div-header{
    position: sticky;
}

a{
    color: white;
    text-decoration: none;
}

.paragrafo-verde{
    background-color: #00e400;
    width: 100%;
    height: 0.5%;
    position: absolute;
    margin-left: 0;
}

.mushsolution-logo{
    margin-top: 0.2%;
    width: 14%;
    margin-left: 6%;
    position: absolute;
}

.div-projetos{
    position: absolute;
    width: 99vh;
    margin-left: 35%;
    margin-top: 3%;

}

.div-fundo-conteudo{
    position: absolute;
    margin-top: 11%;
    background-color: rgba(000, 000, 000, 0.89);
    width: 100%;
    height: 60%;
    border-style: solid;
    border-color: #00e400;
    border-width: 0.5%;
    border-left: none;
    border-right: none;
    display: flex;
}

.img-fundo{
    position: absolute;
    margin-top: 6.9%;
    background-repeat: repeat-y;
    width: 99vw;
    height: 100vh;
}

input{
    width: 14.5vw;
    height: 5vh;
    border-radius: 9px;
    border: none;
    padding-left: 2%;
    outline: none;
}


