.login{
    color: white;
    margin-left: 20%;
}
.login:hover{
    color: white;
}

 .pag-login{
    width: 600px;
    height: 360px;
    /* padding-left: 200px; Margin interna */
    /* margin-left: 280px; */
    margin: auto;
    border-radius: 5px;
    border: 2px solid #00e400; /*Borda na de espessura e cor*/
    font-family: 'Poppins', sans-serif;
            
 }

 .box-login h1{
    text-align: center;
 }

 .box-login .login{
    margin-left: 200px;
    margin-top: -50px;
    margin-bottom: 0;
    
 }

 .box-login .login input{
     width: 200px;
     height: 30px;
     border-radius: 15px; 
 }

 .box-login .login button{
     width: 200px;
     height: 30px;
     border-radius: 5px;
     margin-top: 10px;
     color: white;
     font-size: 16px;
     border-radius: 7px;
     background: transparent;
 }
 
 .msg-cadastrar{
    color: #00e400; 
 }  