@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;800&family=Poppins&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body{
  display: flex;
  flex-direction: column;
}


.login{
    color: white;
}
.login:hover{
    color: white;
}
  
.div-fundo-conteudo-flutuante{
    width: 27vw;
    height: 60vh !important;
    margin-left: 34vw;
    margin-top: 14vw
  
 }

.container-login{
  padding-left: 80px;
  margin-top: 20px;
  height: 70px;

}

#ipt_cpf_login{
  display: flex;
  height: 35px;
  border-radius: 6px;

  
}


#ipt_senha_login{
  display: flex;
  height: 35px;
  border-radius: 6px;
  
}


.botao-verde{
  cursor: pointer;
}



.form-input{
  color: var(--primary);
  font-size: 0.9em;
  font-weight: 700;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

 .pag-login{
    width: 600px;
    height: 360px;
    margin-top: 2vw;
    margin-left: 12vh;
    border-radius: 5px;
   
            
 }

 .box-login{
     padding-top: 2vh;
 }

 .box-login .login{
    margin-bottom: 0;
    margin-top: 0;
    
 }

 

 .box-login .login button{
     width: 200px;
     height: 30px;
     border-radius: 5px;
     margin-top: 10px;
     color: white;
     font-size: 16px;
     border-radius: 7px;
     background: transparent;
 }
 
 .msg-cadastrar{
    color: #00e400; 
 }  

 .div-fundo-conteudo-flutuante{
   width: 27vw; 
   height: 43vh; 
   margin-left: 34vw;
   margin-top: 14vw;
 }

 .btn-login{
   margin-left: 0; 
   margin-top: 1vw; 
   width: 7vw;
 }
 .img-fundo{
   width: 100vw;
   height: 86.72vh;
}

